<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>International Conference IIT-BHU</title>
	<meta name="description" content="International Conference IIT-BHU" />
	<meta name="keywords" content="Emerging Trends in Drug Discovery and Development" />
	<meta name="author" content="Siddhant Singh" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/static/img/favicons/manifest.json">
	<link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="/static/css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="/static/fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="/static/css/cardio.css">
</head>

<body>
	<div class="preloader">
		<img src="/static/img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="/static/img/logo.png" data-active-url="/static/img/logo-active.png" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#intro">About Us</a></li>
					<li><a href="/event_details/">Events</a></li>
					<li><a href="/event_details/">Team</a></li>
					<li><a href="#pricing">Accomodation</a></li>
					<li><a href="http://www.greenbarn.in/user/register/">Sign up</a></li>
					<li><a href="/final_registration/" class="btn btn-blue">Register Now</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">International Conference</h3>
							<h1 class="white typed">Emerging Trends in Drug Discovery and Development</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="white heading"></h5>
						<div class="owl-carousel owl-schedule bottom">
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Abstract Submission Starts:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8 August 2017</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Early Bird Registration Starts:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">5 August 2017</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Delayed Registration Starts:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8 October 2017</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Abstract Submission Ends:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">16 October 2017</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Early Bird Registration Ends:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">16 October 2017</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Delayed Registration Ends:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">14 November 2017</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Date of Acceptance:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">28 November 2017</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Event Date:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">7-10 January 2018</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"></h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"></h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">Early Registration</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Register Today</h4>
							<h4 class="white heading small-pt">Discount 20%</h4>
							<a href="/final_registration/" class="btn btn-white-fill expand">Register</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">Hosted by-</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content">Department of Pharmaceutics</h4>
								<h5 class="white heading light author">IIT-BHU</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Welcome to Divine campus of BHU!</h4>
								<h5 class="white heading light author">Founder-Madan Mohan Malviya</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">VARANASI-Holy City of Temples!</h4>
								<h5 class="white heading light author">The Land of Spirituality</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Conference Theme</h2>
				<h4 class="light muted">"Emerging Trends in Drug Discovery and Development"</h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="/static/img/icons/heart-blue.png" alt="IIT-BHU" class="icon">
						</div>
						<h4 class="heading">Aim</h4>
						<p class="description">The main thrust of this conference would be sharing and exchange views and experience between the pharmaceutical experts belonging to industry,academia, and policy makers.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="/static/img/icons/guru-blue.jpg" alt="IIT-BHU" class="icon">
						</div>
						<h4 class="heading">Meeting</h4>
						<p class="description">Scientists and researchers belonging to industry and institutions will be attending the meeting to highlight the emerging trends in drug discovery for various diseases.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="/static/img/icons/weight-blue.png" alt="IIT-BHU" class="icon">
						</div>
						<h4 class="heading">Conclusion</h4>
						<p class="description">This meeting will provide platform to participants to discuss various aspects of Pharmaceutical Technology,Biotechnology,Novel drug delivery systems,Drug regulatory affairs.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="pricing" class="section">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top white">Accomodation Plans</h2>
				<h4 class="light white">Welcome! To The Land of Spirituality</h4>
			</div>
			<div class="row no-margin">
				<div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
					<div class="pricing">
						<div class="box-main active" data-img="/static/img/pricing1.jpg">
							<h4 class="white">Accomodation Price</h4>
							<h4 class="white regular light">$250.00 <span class="small-font">/ Day</span></h4>
							<a href="http://www.greenbarn.in/user/register/" class="btn btn-white-fill">Sign Up Now</a>
							<i class="info-icon icon_question"></i>
						</div>
						<div class="box-second active">
							<ul class="white-list text-left">
								<li>Foreign Delegates USD 250</li>
								<li>Industries USD 200</li>
								<li>Students &amp; Scholars USD 100</li>
								<li>Academicians USD 150</li>
								<li>Price Depend on pre / delayed Registration</li>
							</ul>
						</div>
					</div>
					<div class="pricing">
						<div class="box-main" data-img="/static/img/pricing2.jpg">
							<h4 class="white">Delayed Registration</h4>
							<h4 class="white regular light">$350.00 <span class="small-font">/ day</span></h4>
							<a href="/event_details/" class="btn btn-white-fill">Contact Us</a>
							<i class="info-icon icon_question"></i>
						</div>
						<div class="box-second">
							<ul class="white-list text-left">
								<li>3 days Accomodation</li>
								<li>Including Fooding , Lodging</li>
								<li>Free Transport &amp; Breakfast</li>
								<li>Free Tour of Varanasi</li>
								<li>Free Tour of BHU</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-padded blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="owl-twitter owl-carousel">
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">To know more about the Event and Conference Topics click on Events or Sign up.</h4>
							<h4 class="light-white light">#Events #IIT-BHU #Varanasi</h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">To Subscribe for recent Updates Kindly Sign-up Today.</h4>
							<h4 class="light-white light">#Sign-up #Event #Updates</h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">Contact us in case of any queries.Click on Team for more info.</h4>
							<h4 class="light-white light">#Contact_us #Query #Team</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Sign up! today to get recent news and updates. </h3>
					<h5 class="light regular light-white">Nation's Pioneering Pharmacy Institution.</h5>
					<a href="http://www.greenbarn.in/user/register/" class="btn btn-blue ripple trial-button">Sign up!</a>
				</div>
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Opening Hours <span class="open-blink"></span></h3>
					<div class="row opening-hours">
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">Mon - Fri</h5>
							<h3 class="regular white">9:00 - 17:00</h3>
						</div>
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">Sat - Sun</h5>
							<h3 class="regular white">10:00 - 12:00</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; 2015 All Rights Reserved. Powered by <a href="http://www.iitbhu.ac.in">IIT-BHU</a> Designed by <a href="http://fb.com/ssinghchs">Siddhant Singh</a></p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">
					<ul class="social-footer">
						<li><a href="http://www.facebook.com/ssinghchs"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/wow.min.js"></script>
	<script src="/static/js/typewriter.js"></script>
	<script src="/static/js/jquery.onepagenav.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>
